<div cass="about-title">
  <h1>あなたはSDGsについてどのくらい知っていますか?</h1>
</div>

<div class="about-body">
  <p>SDGsというと難しいような印象を受けてしまうかもしれませんが簡単に言うと、<br>
  皆様が、普段コンビニやスーパーなどにマイバックを持参したり、プラスチックのストロー<br>
  を使わずに紙のストローを使用してみたりすることです。<br>
  もっと簡単に表現すると、環境に優しいことしよう!<br>
  と言うことなのです。ではなぜこのサイトを利用して共有するといいかと言うと、海外では<br>
  このSDGsに対する関心がとても高くポイントにしてみえるかを行い、<br>
  融資や就職の判断材料に使われるケースもあります。<br>
  なので皆さんにも興味関心を持ってもらい共有していただき、実施していただきたいというのが<br>
  このサイトの狙いになります。
  </p>
</div>
