<h4>あなたはSDGsについてどのくらいご存知ですか?</h4>
<p>SDGsと聞くと難しい印象を与えてしまうかもしれませんが、<br>
簡単に説明すると今と同じ生活を今後10年続けて行くと地球がもう一つ必要になるので、<br>
環境に優しい行動をしよう！という考え方です。例を上げるとレジ袋の有料化やプラスチックストローの廃止<br>
などはわかりやすいのではないでしょうか。その様な環境に優しいことを実行してみんなで共有しようと作られたのがこのサイトです。
</p>