<div class="a">
    <div class="b"><img class="c" src="assets/home1.jpg"></div>
    <div class="b"><img class="c" src="assets/home2.jpg"></div>
    <div class="b"><img class="c" src="assets/home3.jpg"></div>
</div>
