<div class="a">
    <div class="b"><%= image_tag asset_path("home1.jpg"), class: "c" %></div>
    <div class="b"><%= image_tag asset_path("home2.jpg"), class: "c" %></div>
    <div class="b"><%= image_tag asset_path("home3.jpg"), class: "c" %></div>
</div>
